#################
# Compiled Code #
#################
*.pyc
*.class

############
# IntelliJ #
############

**/.idea/*
!**/.idea/libraries/
!**/.idea/copyright/
!**/.idea/misc.xml
!**/.idea/modules.xml
!**/.idea/compiler.xml

########
# OS X #
########

**/.DS_Store

#######
# API #
#######
api/node_modules
.sublime*

##########
# Thrift #
##########
server/thrift/gen/

###########
# Sublime #
###########
*.sublime-project
*.sublime-workspace

###########
# Madratz #
###########

server/out/
server/service/META-INF/