##########
# Server #
##########
*.pyc
*.class

.idea/
*.iml


#######
# API #
#######
api/node_modules
.sublime*

##########
# Client #
##########
client/Temp
client/Library
client/obj

*.*proj
*.sln